h1,.clock{
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 60px;
  transform: skewY(-5deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  text-shadow: 
    -1px -1px 0 grey,
    -2px -2px 0 grey,
    -3px -3px 0 ,
    -4px -4px 0 ,
    -5px -5px 0 ,
    -6px -6px 0 ,
    -7px -7px 0 ,
    -8px -8px 0 black,
    -30px 20px 40px white;


  background: -80px -80px;
  text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
  width: 600px;
  margin: 50px auto;
}

body{
  background-color: grey;
 background: linear-gradient(to right,rgb(122, 133, 122),rgb(255, 255, 255));
}


.clock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translateX(-50%) translateY(-50%);
  font-size: 65px;
}